#calculator{
    background-color:black;
    margin: 10%auto;
    width: 250px;
}
.display{
    background-color: black;
    border-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    padding-top: 10%;
    font-size:50px;
    text-align: right;  
}    
.row{
    width: 100%;
}
.btn {
    width: 100%;
    height: 60px;
    background: #dddddf;
    font-size: 22px;
    color: black;
    transition: background 0.3s;			
}
.btn2{
    background: orange;
}
.btn3{
    background: rgb(172, 170, 170);
}
.btn:hover {
    background: #336699;
    color: #FFFFFF;
}	

